.bg__gradient {
	background: linear-gradient(
		270deg,
		#297075 0%,
		#2b5b61 8.11%,
		#1e383c 41.99%,
		#072227 82.19%
	);
}

.cvbtn {
	border: 3px solid #aefeff;
	filter: drop-shadow(
		3px 5px 10px rgba(178, 239, 235, 0.88)
	);
	backdrop-filter: blur(10px);
	border-radius: 6px;
}
