body,
.bg__gradient {
	background: linear-gradient(
		270deg,
		#297075 0%,
		#2b5b61 8.11%,
		#1e383c 41.99%,
		#072227 82.19%
	);
}

.cvbtn {
	border: 3px solid #aefeff;
	filter: drop-shadow(
		3px 5px 10px rgba(178, 239, 235, 0.88)
	);
	backdrop-filter: blur(10px);
	border-radius: 6px;
}

.skill-item {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
}
.skill-icon-wrapper {
	box-shadow: 1px 11px 23px 18px rgba(0, 0, 0, 0.23);
	border-radius: 12px;
}

/* project card flipping */
.project-card-container {
	height: 350px;
	margin: 0;
	padding: 0;
	top: 20px;
	width: 330px;
	border: solid 1px #fff;
	position: relative;
	transform-style: preserve-3d;
	box-sizing: border-box;
}
.project-card-container .flipped .front {
	transform: rotateY(180deg);
}

.project-card-container .flipped .back {
	transform: rotateY(0deg);
}

.project-card-container .back {
	box-sizing: border-box;
	height: 200px;
	width: 90%;
	display: block;
	background: white;
	box-shadow: 10px 10px 5px rgb(95, 77, 99);
	padding: 10px;
	position: absolute;
	border-radius: 10px;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: -webkit-transform ease 500ms;
	transition: transform ease 500ms;
}

.project-card-container .front {
	z-index: 2;
	transform: rotateY(0deg);
}
.project-card-container .back {
	background: #f8f6ea;
	transform: rotateY(-180deg);
	padding: 20px;
	font-size: 20px;
}
