body,
.bg__gradient {
	background: linear-gradient(
		270deg,
		#297075 0%,
		#2b5b61 8.11%,
		#1e383c 41.99%,
		#072227 82.19%
	);
}

.cvbtn {
	border: 3px solid #aefeff;
	filter: drop-shadow(
		3px 5px 10px rgba(178, 239, 235, 0.88)
	);
	backdrop-filter: blur(10px);
	border-radius: 6px;
}

.skill-item {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
}
.skill-icon-wrapper {
	box-shadow: 1px 11px 23px 18px rgba(0, 0, 0, 0.23);
	border-radius: 12px;
}
